.tab-list {
  border-bottom: 1px solid #cccccc;
  display: flex;
}

.tab-list button {
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  color: #333333;
  background-color: transparent;
}

.tab-list button.active {
  border-bottom: 3px solid #2c6e49;
  font-weight: bold;
  color: #2c6e49;
}

.tab-content {
  padding: 24px;
}
